---
// COMPONENTS
import Layout from "@/layouts/Layout.astro";
import MainHero from "@/components/MainHero.astro";
import Heading from "@/components/Heading.astro";
import TravelAdvisorBenefits from "@/components/TravelAdvisorBenefits.astro";
import TripTypes from "@/components/TripTypes.astro";
import SplitOverlay from "@/components/SplitOverlay.astro";
import ScrollingText from "@/components/ScrollingText.astro";
import FAQ from "@/components/FAQ.astro";

// PHOTOS
import familyCruise from "@/assets/family-cruise.jpg";
import lima from "@/assets/lima.jpg";
import amalfi from "@/assets/amalfi.jpg";
import kathyLondon from "@/assets/kathy-london.jpg";

// REVIEWS DATA

// Data for FAQ section
import { getCollection } from "astro:content";
const faq = await getCollection("FAQ");

const faqData = faq.map(item => ({
  tag: item.data.tag,
  question: item.data.question,
  answer: item.data.answer,
}));
---

<Layout
  pageTitle="Andiamo Away | Travel and Adventure Services"
  description="Andiamo Away offers personalized travel and adventure experiences, creating unforgettable journeys for every traveler."
>
  <MainHero />

  <ScrollingText>
    <Heading tag="h2" size="xl" fontFamily="secondary" marginBottom="m" weight="fw500">
      Let's Make Your Travel Dreams Real
    </Heading>
  </ScrollingText>

  <SplitOverlay
    eyebrow="Stress-Free Travel Planning"
    title="Travel Planning Designed Around Your Needs"
    imgSrc={familyCruise}
    imgAlt="Kathy Nervegna"
    imgText="Cruise 2023"
    background="bg-secondary-light"
    bgImgSrc={lima}
    bgImgAlt="Amalfi"
    orientation="right"
  >
    <p>
      Most clients work with Andiamo Away for vacation booking services such as cruises, resorts,
      hotels, tours, and experiences. In many cases, these bookings are commission-based through
      trusted travel partners, allowing clients to benefit from professional travel planning and
      support without additional service fees.
    </p>

    <p>
      For travelers looking for a more elevated and detailed experience, custom itinerary planning
      services are also available for an additional planning fee. These curated itineraries are
      ideal for multi-destination trips, international travel, and travelers wanting a fully
      personalized day-by-day experience.
    </p>
  </SplitOverlay>

  <TravelAdvisorBenefits />

  <TripTypes id="services" />

  <section class="bg-white" id="about">
    <div class="container container-lg">
      <div class="content-lg">
        <Heading tag="h2" size="xl" fontFamily="primary" marginBottom="m" weight="fw500">
          Why Choose Andiamo Away?
        </Heading>
        <p>
          Travel isn’t just about escaping—it’s about waking up. It’s about stepping into new
          cultures, seeing the world through different eyes, and coming home with stories,
          confidence and perspective.
        </p>
        <p>
          Whether you’re watching the sunrise over ancient ruins or savoring a gelato on a cobbled
          street, these are the moments that stay with you forever. At Andiamo Away I’m here to help
          make yours unforgettable.
        </p>
      </div>
    </div>
  </section>

  <SplitOverlay
    eyebrow="Get To Know Your"
    title="Travel Queen"
    imgSrc={kathyLondon}
    imgAlt="Kathy Nervegna"
    imgText="Kathy Nervegna"
    background="bg-secondary-light"
    bgImgSrc={amalfi}
    bgImgAlt="Amalfi"
    orientation="left"
  >
    <p>
      Hi, I’m Kathy Nervegna, your personal travel advisor and the heart behind Andiamo Away. With
      years of experience crafting unforgettable journeys, I’m passionate about turning your travel
      dreams into reality. From hidden gems to iconic landmarks, I know the ins and outs of the best
      destinations worldwide. Let’s work together to create a trip that’s uniquely you—filled with
      adventure, relaxation, and memories that will last a lifetime.
    </p>
    <br />
    <p><strong>Some of my favorite trips to plan:</strong></p>
    <ul>
      <li><p>Family cruise to the Caribbean</p></li>
      <li><p>Custom Italy itinerary with Rome, Florence, and Amalfi</p></li>
      <li><p>Luxury resort stay in the Maldives</p></li>
      <li><p>European river cruise through France and Germany</p></li>
      <li><p>Multi-generational trip to Disney World</p></li>
    </ul>
  </SplitOverlay>

  <FAQ faq={faqData} />
</Layout>

<style lang="scss">
  .service-areas-card {
    background-color: var(--light-100);
    border-radius: var(--border-radius-small);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: var(--_spacing---space--4);
    text-align: left;

    &__link {
      margin-top: auto;
      width: fit-content;
      margin-left: 0;
    }
  }
</style>
