---
// COMPONENTS
import Heading from "@/components/Heading.astro";

// HELPERS
import type { HTMLAttributes } from "astro/types";
import { Picture } from "astro:assets";

export interface HeroProps extends HTMLAttributes<"section"> {
  pageTitle?: string;
  title: string;
  subtitle?: string;
  ariaLabel?: string;
  classes?: string;
  imageSrc?: string;
  imageAlt?: string;
}

const { pageTitle, title, subtitle, ariaLabel, classes, imageSrc, imageAlt, ...rest } = Astro.props;
---

<section class:list={["internal-hero", classes]} aria-label={ariaLabel} {...rest}>
  <div class="container container-md internal-hero__container column-main">
    <div class="content-full internal-hero__content grid-auto-2">
      <div class="internal-hero__headings">
        <Heading
          tag="h1"
          size="xs"
          fontFamily="primary"
          marginBottom="m"
          weight="fw500"
          class="internal-hero__title eyebrow">{pageTitle}</Heading
        >
        <Heading tag="h2" size="xxl" fontFamily="primary" marginBottom="none" weight="fw500"
          >{title}</Heading
        >
      </div>
      <div class="internal-hero__copy">
        <p class="">
          {subtitle}
        </p>
      </div>
    </div>
    <div class="content-full internal-hero__img">
      <div class="internal-hero__img-wrapper img-wrapper">
        <Picture
          src={imageSrc}
          formats={["avif", "webp"]}
          alt=""
          width={1920}
          height={1080}
          widths={[480, 768, 1280, 1920]}
          sizes="100vw"
          quality={65}
          loading="eager"
          fetchpriority="high"
          decoding="async"
        />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .internal-hero {
    overflow: hidden;
    position: relative;
    padding-top: 124px;

    &__container {
      padding-top: var(--_spacing---section-space--xl);
      padding-bottom: var(--_spacing---section-space--main);

      @media (max-width: 768px) {
        padding-top: var(--_spacing---section-space--main);
      }
    }

    &__content {
      text-align: left;
      align-items: end;
    }

    .img-wrapper {
      width: 100%;
      border-radius: var(--border-radius-small);
      overflow: hidden;
      height: 100%;
      aspect-ratio: 16 / 9;
    }

    .column {
      position: relative;
      z-index: 999;
    }

    &__title {
      margin-left: 0;
      background: var(--light-200);
    }

    &__copy {
      p {
        margin-bottom: 0;
      }
    }
  }
</style>
