---
// HELPERS
import { Picture } from "astro:assets";

// COMPONENTS
import Heading from "@/components/Heading.astro";

// TYPES
import type { HTMLAttributes } from "astro/types";

// PROPS
export interface SplitProps extends HTMLAttributes<"section"> {
  title: string;
  eyebrow?: string;
  imgSrc?: string;
  imgAlt?: string;
  imgText?: string;
  bgImgSrc?: string;
  bgImgAlt?: string;
  background?:
    | "bg-dark"
    | "bg-primary"
    | "bg-white"
    | "bg-secondary"
    | "bg-secondary-light"
    | "bg-pattern";
  orientation?: "left" | "right";
}

const {
  title,
  eyebrow,
  imgSrc,
  imgAlt,
  background,
  orientation,
  bgImgSrc,
  bgImgAlt,
  imgText,
  ...rest
} = Astro.props;
---

<section aria-label={title} class:list={["split", background]} {...rest}>
  <div class="container container-md">
    <div
      class="content-full split__grid"
      class:list={orientation === "left" ? "split--reverse" : ""}
    >
      <div class="split__col">
        <div class="split__img-wrapper">
          <Picture
            src={imgSrc}
            formats={["avif", "webp"]}
            alt={imgAlt}
            class="split__img"
            loading="lazy"
            quality={65}
            width={800}
            height={800}
            widths={[400, 600, 800]}
            sizes="(max-width: 768px) 100vw, (max-width: 1010px) 90vw, 50vw"
          />
        </div>
      </div>
      <div class="split__col split__content">
        <Heading
          tag="h2"
          size="xs"
          fontFamily="primary"
          marginBottom="m"
          weight="fw400"
          class="split__eyebrow"
          textTransform="uppercase"
        >
          {eyebrow}
        </Heading>
        <Heading tag="h3" size="xl" fontFamily="primary" marginBottom="m" weight="fw500">
          {title}
        </Heading>
        <slot />
      </div>
    </div>
  </div>
</section>

<style lang="scss" is:global>
  .split {
    &__grid {
      display: grid;
      gap: var(--_spacing---section-space--main);
      grid-template-columns: 1fr 1fr;
      min-height: 50vh;

      @media (max-width: 1010px) {
        grid-template-columns: 1fr;
      }
    }

    &__col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      position: relative;
    }

    &__img-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      margin-right: 0;
      margin-left: auto;
      border-radius: var(--border-radius-small);
      overflow: hidden;
    }

    &__content {
      text-align: left;

      h4 {
        margin-bottom: 0.25rem;
        line-height: 1;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }

    &__eyebrow {
      width: fit-content;
      letter-spacing: 0px;
      width: fit-content;
      letter-spacing: 1px;
      background: var(--light-200);
      padding: 0.5rem 0.5rem;
      border-radius: 5px;
    }

    .btn {
      width: fit-content;
    }

    .callouts {
      display: flex;
      gap: 1rem;
      margin: 1rem 0;
      flex-wrap: wrap;

      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    .callout {
      position: relative;
      padding: 0.5rem 1rem;
      padding-left: 2.75rem;
      border-radius: var(--border-radius-small);
      font-weight: 500;
      font-size: var(--_typography---font-size--text-large);
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-family: var(--primary-family);
      display: flex;
      align-items: center;
      gap: 1rem;
      width: fit-content;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0.5rem;
        width: 30px;
        height: 30px;
        background-color: var(--brand-primary);
        background-image: url("/src/assets/check.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
      }
    }
  }

  .split--reverse .split__col:first-child {
    order: 2;

    @media (max-width: 1010px) {
      order: -1 !important;
    }
  }

  .bg-dark .split__content {
    *:not(.btn) {
      color: var(--light-200);
    }

    .split__eyebrow {
      color: var(--dark-900);
    }
  }

  .bg-light {
    .split__eyebrow {
      background: var(--light-100);
    }
  }
</style>
