---
import { Picture } from "astro:assets";
import Heading from "./Heading.astro";

import type { HTMLAttributes } from "astro/types";

export interface SplitProps extends HTMLAttributes<"section"> {
  title: string;
  eyebrow?: string;
  imgSrc?: string;
  imgAlt?: string;
  imgText?: string;
  bgImgSrc?: string;
  bgImgAlt?: string;
  background?:
    | "bg-dark"
    | "bg-primary"
    | "bg-white"
    | "bg-secondary"
    | "bg-secondary-light"
    | "bg-pattern";
  orientation?: "left" | "right";
}

const {
  title,
  eyebrow,
  imgSrc,
  imgAlt,
  background,
  orientation,
  bgImgSrc,
  bgImgAlt,
  imgText,
  ...rest
} = Astro.props;
---

<section aria-label={title} class:list={["split", background]} {...rest}>
  <div class:list={["split__bg-wrapper", orientation === "left" ? "split__bg-wrapper--left" : ""]}>
    <Picture
      src={bgImgSrc}
      alt={bgImgAlt}
      class="split__bg-img"
      loading="eager"
      width={2000}
      height={2000}
    />
  </div>
  <div class="container container-md">
    <div
      class="content-full split__grid"
      class:list={orientation === "left" ? "split--reverse" : ""}
    >
      <div class="split__col">
        <div class="split__img-wrapper">
          <Picture
            src={imgSrc}
            alt={imgAlt}
            class="split__img"
            loading="eager"
            width={1000}
            height={1000}
          />
          <p>{imgText}</p>
        </div>
      </div>
      <div class="split__col split__content">
        <Heading
          tag="h2"
          size="xs"
          fontFamily="primary"
          marginBottom="m"
          weight="fw700"
          class="eyebrow"
        >
          {eyebrow}
        </Heading>
        <Heading tag="h3" size="xl" fontFamily="primary" marginBottom="m" weight="fw500">
          {title}
        </Heading>
        <slot />
      </div>
    </div>
  </div>
</section>

<style lang="scss" is:global>
  .split {
    &__grid {
      display: grid;
      gap: var(--_spacing---section-space--xl);
      grid-template-columns: repeat(auto-fit, minmax(min(450px, 100%), 1fr));
    }

    &__wrapper {
      padding: 10rem;
    }

    &__col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    &__img-wrapper {
      height: 100%;
      border-radius: var(--border-radius-small);
      overflow: hidden;
      width: 100%;
      background: #fff;
      padding: 1rem;
      padding-bottom: 6rem;
      border-radius: 0;
      transform: rotate(-1deg);
      filter: drop-shadow(2px 4px 15px rgba(20, 20, 20, 0.1));
      width: 100%;
      aspect-ratio: 1/1;

      p {
        height: 6rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        font-family: var(--secondary-family);
      }
    }

    &__content {
      text-align: left;
      padding: 3rem 0;

      h4 {
        margin-bottom: 0.25rem;
        line-height: 1;
        font-size: 1.1rem;
        font-weight: 500;
      }

      ul {
        margin: 1.25rem 0;
        margin-top: 0;
        padding: 0;
        list-style: none;
        display: grid;
        gap: 1rem;
      }

      li {
        position: relative;
        padding-left: 2.5rem;

        p {
          margin-bottom: 0;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 1.75rem;
          height: 1.75rem;
          background-image: url("/src/assets/plane.svg");
          background-repeat: no-repeat;
          background-size: 1.1rem;
          background-position: center;
          background-color: #fff;
          border-radius: 8px;
          transform: translateY(-50%);
        }
      }
    }

    &__bg-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 40%;
      height: 100%;
      opacity: 0.8;

      &--left {
        right: 0;
        left: auto;
      }
    }
  }

  .split--reverse .split__col:first-child {
    order: 2;
  }

  .bg-dark .split__content * {
    color: var(--light-200);
  }

  @media (max-width: 1010px) {
    .split--reverse .split__col:first-child {
      order: -1 !important;
    }

    .split__content {
      padding: 0;
    }
  }
</style>
