---
// COMPONENTS
import Analytics from "@/components/Analytics.astro";
import AhrefsAnalytics from "@/components/AhrefsAnalytics.astro";

// DATA
import { baseData } from "@/data/siteData";

// PROPS
const { pageTitle = baseData.title, description = baseData.description } = Astro.props;
const GA_MEASUREMENT_ID = "xxx";
const AHREFS_DATA_KEY = "EWBDwpialEjcesfLXA6qGQ";

// Open Graph
const ogTitle = `Lambos Garage Door Service | ${pageTitle}`;
const ogDescription = description;
const ogImage = new URL("/og-image.jpg", Astro.site).toString();
const ogUrl = Astro.url.toString();
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <title>Lambos Garage Door Service | {pageTitle}</title>
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={ogUrl} />
  <meta property="og:title" content={ogTitle} />
  <meta property="og:description" content={ogDescription} />
  <meta property="og:image" content={ogImage} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={ogUrl} />
  <meta property="twitter:title" content={ogTitle} />
  <meta property="twitter:description" content={ogDescription} />
  <meta property="twitter:image" content={ogImage} />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    />
  </noscript>
  <link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Anton&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Anton&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
    />
  </noscript>
  <script src="@/js/app.js"></script>

  <!-- <Analytics measurementId={GA_MEASUREMENT_ID} /> -->
  <AhrefsAnalytics dataKey={AHREFS_DATA_KEY} />
</head>
